body{
    
    background: linear-gradient(rgba(244,243,255,1) 0%, rgba(62,146,255,1) 0%, rgba(0,212,255,1) 92%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{ background:rgba(244,243,255,1) 0%, rgba(62,146,255,1) 0%, rgba(0,212,255,1) 92%;}

.nav-link , .navbar-brand{ color: #ffffff; cursor: pointer;}

.nav-link{ float: left; margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

nav .navbar-nav li a {
    color: #ffffff
}
.row{
 color: #ffffff;
 left: 50%;
  position: absolute;
  top: 65%;
  transform: translate(-50%, -55%);
  text-align: center;
  border-spacing: 300px;
  font-style: bold;
}

.row2 {
    color: #ffffff;
    left: 49%;
     position: absolute;
     top: 35%;
     transform: translate(-50%, -55%);
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 24px;
   }
 
.lower {
    
}